/* fuente de letra */
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Resetear estilos por defecto de los navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    background-color: #f9f6e8; /* Fondo blanco crema */
    color: #333; /* Texto negro */
}

header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 10px;
    left: 23px;
    width: 60px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto; /* Esto mantendrá la relación de aspecto de la imagen */
}

/* Agrega esta regla para el botón de menú en dispositivos móviles */
.mobile-menu-button {
    display: none; /* Oculta el botón en dispositivos normales */
    position: absolute;
    top: 21px;
    right: 23px; /* Alinea el botón a la derecha */
    width: 60px;
    height: auto;
    cursor: pointer;
}

.mobile-menu {
    display: none; /* Oculta la lista de menú móvil por defecto */
    position: absolute;
    top: 60px; /* Ajusta la posición del menú desplegable */
    right: 0;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    list-style: none; /* Quita los marcadores de lista */
    font-size: 24px; /* Ajusta el tamaño de fuente para que sean grandes */
    color: #03b64e8a; /* Texto verde */
    width: 200px; /* Ajusta el ancho del menú desplegable */
}

.mobile-menu.show {
    display: block; /* Muestra el menú móvil al hacer clic en el botón */
}

.mobile-menu li {
    margin: 10px 0; /* Ajusta el espaciado entre los botones del menú */
}

.mobile-menu a {
    text-decoration: none;
    display: block; /* Coloca los botones uno encima del otro */
    padding: 10px 0; /* Espaciado interior para los botones */
    color: #03b64e8a; /* Hereda el color del menú */
}

/* Oculta el menú en dispositivos móviles */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    
    .mobile-menu-button {
        display: block; /* Muestra el botón en dispositivos móviles */
    }
    
    /* Estilos para el menú desplegable */
    .menu.show {
        display: block;
        position: absolute;
        top: 60px; /* Ajusta la posición del menú desplegable */
        right: 0;
        background-color: #fff; /* Fondo blanco */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        z-index: 2;
    }
}

nav {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 0 15px;
    display: inline;
}

nav ul li a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #fff; /* Fondo blanco */
    color: #03b64e8a; /* Texto verde */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

main {
    margin-top: 0px; /* Para dar espacio debajo del menú fijo */
    padding: 0px;
    height: 89.4vh;
}

/* Video que va en el fondo */

.videoparaelfondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#videodefondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Agrega aquí más estilos para el contenido y el pie de página */

/* footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3b874c;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    z-index: 1;
}
*/ 

h4 {
    padding: 40px;
    color: #fff
}